
    .css-1d391kg {
        background-color: #f9f9f9;  
    }
    .css-18e3th9 {
        background-color: white;
        border-radius: 10px;  
        padding: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); 
    }
    .main-content {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        text-align: center;
    }


    .sidebar .sidebar-content {
        background-color: #333;  
        color: white;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }


    .css-1q8dd3e {
        color: #00acc1;
        font-weight: bold;
        font-size: 1.5rem;
    }


    .stButton>button {
        background-color: #00acc1;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }
    .stButton>button:hover {
        background-color: #007b8e;  
    }


    .dataframe {
        border-radius: 12px;  
        border-collapse: collapse;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        overflow: hidden;  
        background-color: #fff;  
    }
    .dataframe th {
        background-color: #00acc1;  
        color: white;
        text-align: center;
        font-weight: bold;
    }
    .dataframe td {
        padding: 12px;  
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    .dataframe tr:nth-child(even) {
        background-color: #f2f2f2; 
    }
    .dataframe tr:hover {
        background-color: #e0f7fa;  
    }


    .card {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 1px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .data-preview {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .filtered-data {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .stProgress > div > div > div > div {
        background-color: #00acc1;
    }


    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #00acc1;
        border-radius: 10px;
        border: 3px solid #f1f1f1;
    }